* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.form {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    width: 600px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    border: 1px solid black;
}

h2{
    text-align: center;
    margin-bottom: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-input {
    width: 100%;
    padding: 12px 16px;
    border: 2px solid lightgrey;
    border-radius: 6px;
    font-size: 16px;
}


.radio-group, .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 8px 0;
}

.radio-label, .checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 4px 0;
}

label {
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.error-message {
    color: red;
    font-size: 14px;
    min-height: 20px;
    margin-bottom: 10px;
}

.submit-btn {
    background-color: blue;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 8px;
}

.submit-btn:hover {
    background-color: #357abd;
}

.output {
    width: 600px;
    padding: 24px;
    border-radius: 8px;
    background-color: white;
    font-family: 'Consolas', monospace;
    font-size: 14px;
    resize: vertical;
    min-height: 250px;
}



/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .form {
  background-color: #1e1e1e;
  color: white;
  border-color: darkgrey;
}

.dark-mode .form-input, .dark-mode select, .dark-mode textarea {
  background-color: #2a2a2a;
  color: white;
  border: 1px solid grey;
}

.dark-mode label {
  color: white;
}

.dark-mode .submit-btn {
  background-color: skyblue;
  color: black;
}

.dark-mode .submit-btn:hover {
  background-color: blue;
  color: white;
}

.toggleButton{
    padding: 8px ;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 12px;
    background-color: yellow;
    font-weight: 600;
    cursor: pointer;
}